# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache
dist
dist-ssr

# Node dependencies
node_modules

# Logs
logs
*.log

# Editor
.DS_Store
.fleet
.idea
.vscode
.history
.vercel

# Local env files
.env
.env.*
!.env.example
.env*.local
Thumbs.db